@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    margin-bottom: 0;
}
body {
    background-color: #000;
    color: #fff;
    font-family: "Gentium Plus", serif;
    overflow-x: hidden;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    color: white;
    padding: 1.5rem 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #adacac4f;
    z-index: 10000;
}
header a .logo {
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    font-family: "Gentium Plus", serif;
    text-align: center;
    line-height: 55px;
    transition: all 0.3s ease-in-out;
}
header a:hover .logo {
    color: #5497a7;
    border: 2px solid #5497a7;
}
header .author {
    font-family: "Gentium Plus", serif;
    font-size: 1.1rem;
    min-width: 0;
    text-align: center;
    background: linear-gradient(90deg, rgb(170, 61, 197), rgb(125, 184, 214), #aa3dc5);
    background-size: 300% 100%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    animation: gradientAnimation 4s linear infinite;
}
header nav {
    max-width: 40%;
    min-width: 150px;
}
header nav ul, #rodape #nav-bottom ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    position: relative;
    flex-wrap: nowrap;
}
header nav ul li a, #rodape #nav-bottom ul li a {
    background-color: #eff1f3;
    border: 1px solid transparent;
    text-decoration: none;
    color: black;
    padding: 0.4rem;
    border-radius: 11px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    position: relative;
}
header nav ul li a:hover, #rodape #nav-bottom ul li a:hover {
    background-color: transparent;
    color: white;
    border: 1px solid #eff1f3;
}
header nav ul li a:active, #rodape #nav-bottom ul li a:active {
    background-color: #eff1f3;
    color: black;
}
header nav ul li a:has(i), #rodape #nav-bottom ul li a:has(i) {
    background-color: transparent;
}
header nav ul li a i, #rodape #nav-bottom ul li a i {
    background-color: #eff1f3;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.fa-instagram {
    color: #bc2a8d;
}
.fa-instagram:hover {
    border-color: #bc2a8d;
}
.fa-linkedin {
    color: #0e76a8;
}
.fa-linkedin:hover {
    border-color: #0e76a8;
}
.fa-whatsapp {
    color: #25D366;
}
.fa-whatsapp:hover {
    border-color: #25D366;
}
.copy {
    position: absolute;
    left: 57%;
    bottom: -65px;
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 15px;
    border: 1px solid black;
    opacity: 0;
}
.copy i {
    color: rgb(115, 211, 108);
}
header nav ul li a i:hover {
    background-color: transparent;
    border: 1px solid #eff1f3;
}
header nav ul li a:has(i):hover {
    border: 1px solid transparent;
}
.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.introduction .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
}
.introduction .name .title {
    font-size: 5rem;
}
.introduction .name .open {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(120deg, #aa3dc5 10%, #7db8d6 50%);
    background-size: 200% 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction .name .open img {
    width: 150px;
    height: 150px;
}
.introduction .profission {
    padding: 0.5rem 0.8rem;
    border: 1px solid #878787da;
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}
.introduction .profission:hover {
    background-color: #7db8d686;
}
.introduction .slogan {
    font-size: 2rem;
    margin-top: 3rem;
}
.introduction .slogan .word-tech {
    color: #bef2fd;
    text-shadow: 
        0 0 2px #bef2fd,
        0 0 8px #bef2fd,
        0 0 16px rgba(190, 242, 253, 0.9),
        0 0 32px rgba(190, 242, 253, 0.7),
        0 0 64px rgba(190, 242, 253, 0.5)
    ;
}
.introduction .slogan .word-inov {
    color: #d4a3f5;
    text-shadow: 
        0 0 2px #d4a3f5,
        0 0 8px #d4a3f5,
        0 0 16px rgba(212, 163, 245, 0.9),
        0 0 32px rgba(212, 163, 245, 0.7),
        0 0 64px rgba(212, 163, 245, 0.5)
    ;
}
main {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 3rem;
}
main .events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.projects .done {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 90vw;
    border-radius: 12px;
    padding: 2rem 0;
}
.projects h3 {
    text-align: center;
    margin-bottom: 2rem;
}
.projects .list-projects {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.projects .done .list-projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    perspective: 800px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}
.projects .done .list-projects .project .video-project {
    display: block;
    width: 500px !important;
    max-width: 500px !important;
    height: 500px;
    object-fit: contain;
    cursor: pointer;
    transform: rotateX(75deg);
    transform-origin: center bottom;
    backface-visibility: hidden;
    transition: transform 0.5s;
}
.projects .done .list-projects .project .video-project:hover {
    transform: rotateX(0deg);
}
.projects .done .list-projects .project a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #223843;
    color: white;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}
.projects .done .list-projects .project a:hover {
    background-color: #5497a7;
}
.projects .events {
    width: 100%;
}
.projects .events .web {
    width: 100%;;
}
.projects .events .list-projects {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.projects .events .list-projects .project {
    flex-basis: 500px;
    margin-bottom: 2rem;
}
.projects .events .list-projects .project img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.projects .events .list-projects .project .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 1px solid #5555557c;
    border-right: 1px solid #5555557c;
    border-bottom: 1px solid #5555557c;
    padding: 1rem 1rem;
    border-radius: 0 0 10px 10px;
}
.projects .events .list-projects .project .info .title-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .events .list-projects .project .info .title-project h4 {
    font-size: 1.5rem;
    color: #bed0d3;
}
.projects .events .list-projects .project .info .title-project .links {
    display: flex;
    gap: 1rem;
}
.projects .events .list-projects .project .info .title-project .links a {
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.projects .events .list-projects .project .info .title-project .links a:hover {
    color: #36a5a1;
}
.projects .events .list-projects .project .info .description {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5rem;
}
.projects .events .list-projects .project .info .techs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    list-style-position: inside;
    color: #fff;
    font-size: 0.9rem;
}
.projects .events .list-projects .project .info .techs .tech {
    background-color: #222527;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
}
.projects .events .list-projects .project .info .status {
    font-size: 0.9rem;
    color: #aaa;
    text-transform: uppercase;
    text-align: center;
}
#rodape {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #2a0800;
    color: white;
}
#rodape #nav-bottom {
    width: 100%;
}
#rodape #nav-bottom .copy {
    left: 62%;
    bottom: 65px;
    border: 1px solid #000;
    color: #000;
    z-index: 1000;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#lightningCanvas {
  position: fixed;
  inset: 0;
  z-index: -1000;
  pointer-events: none;
}

@media (max-width: 1024px) {
    header {
        justify-content: start;
        gap: 2rem;
    }
    header h2 {
        font-size: 2rem;
    }
} 
@media (max-width: 850px) {
    header {
        justify-content: start;
        gap: 1.5rem;
    }
    header a h1 {
        width: 55px;
        height: 55px;
        line-height: 45px;
        font-size: 1.8rem;
    }
    header h2 {
        font-size: 1.8rem;
    }
    header nav ul li a i {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }
    header nav ul li a i:before {
        position: absolute;
        left: 30%;
        top: -6px;
    }
} 
@media (max-width: 768px) {
    header {
        justify-content: space-between;
        gap: 0;
        padding: 1.5rem 1rem;
    }
    .projects .done .list-projects .project .video-project {
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 550px) {
    .projects h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 425px) {

    .projects .done .list-projects .project {
        max-width: 350px;
    }
    .projects .done .list-projects .project .video-project {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 375px) {
    header h2 {
        font-size: 1rem;
    }
    .projects h1 {
        font-size: 1rem;
    }
    .projects .done .list-projects .project {
        max-width: 320px;
    }
    .projects .done .list-projects .project .video-project {
        width: 200px;
        height: 200px;
    }
    .events .subtitle {
        font-size: 1rem;
    }
    #rodape #nav-bottom ul {
        justify-content: center;
        gap: 6px;
    }
    #rodape #nav-bottom ul li a {
        padding: 0.15rem;
        border-radius: 8px;
    }
}